@charset "utf-8";
/* CSS Document */
body, div {
margin: 0 auto;
}
body{
font-family: Verdana, Geneva, Sans-serif;
font-size: 1.4em;
color:#333;
}
div.wrapper{
width:90%;
float:left;
padding: 5%;
}
h3{
color: #399;
}
label{
font-size:16px;
font-weight:bold;
color: #333;
}
p{
line-height:0.5px;
}
p input{
height: 80px;
width: 280px;
padding: 2px;
margin-top: 5px;
border-radius: 3px;
border-color: #dddddd;
color: #333;
}
p.nome input{
	width: 300px;
}
p.data input{
	width: 130px;
}
p.email input{
	width: 220px;
}
p.tel input{
	width: 130px;
}
input.button{
width: 70px;
height: 25px;
background-color:#ccf;
color:#444;
font-weight: bold;
border:none;
border-radius: 3px;
}

